.chess-space {
	-fx-min-height:  50px;
	-fx-min-width:   50px;
	-fx-pref-height: 85px;
	-fx-pref-width:  85px;
	/* prevent rounded buttons */
	-fx-background-radius: 0em;
}

.chess-space-light {
	-fx-background-color: #FFCE9E;
}

.chess-space-dark {
	-fx-background-color: #D18B47;
}

.chess-space-active {
	-fx-background-color: red;
}

.label-fill{
    -fx-text-fill: whitesmoke;
}

.root{
    -fx-background: slategray;
    -fx-font-size: 12pt;
    -fx-font-family: "Courier New";
}

.table-view{
    -fx-text-alignment: center;
    -fx-font-style: italic;
    -fx-pref-rows: 2;
    -fx-pref-height: 575px;
    -fx-pref-width: 200px;
    /*removes blue glow on selection*/
    -fx-background-color: transparent;
}

