.chess-space {
	-fx-min-height:  50px;
	-fx-min-width:   50px;
	-fx-pref-height: 85px;
	-fx-pref-width:  85px;
	/* prevent rounded buttons */
	-fx-background-radius: 0em;

}

.chess-space-light {
	-fx-background-color: #FFCE9E;
}

.chess-space-dark {
	-fx-background-color: #D18B47;
}

.chess-space-active {
	-fx-background-color: red;
}

